{% extends 'main.html' %}
{% load static %}


{% block content %}

    <div id="chatbot-container">
      <div id="chatbot-dialogue">
          <p class="bot-message"><strong>Bot:</strong>Hi, how can I help you today?</p>
          <p class="bot-message"><strong>Bot:</strong> I am 1Financebot, a language model AI designed to assist you with any queries you may have regarding personal finance.</p>

      </div>
      <form id="chatbot-form" method="post" action="{% url 'query' %}">
          {% csrf_token %}
          <textarea class="form-control" name="input_text" placeholder="Type your query related to 1 Finance..." rows="1" aria-label="Recipient's username" aria-describedby="button-addon2"></textarea>
          <button type="submit" class="btn btn-warning btn-lg ml-2" id="button-addon2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
              <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
            </svg></button>
          
      </form>
    </div>
    
{% endblock %}

{% block js %}
<script>
  const form = document.getElementById('chatbot-form');
  const dialogueContainer = document.getElementById('chatbot-dialogue');

  function displayUserMessage(message) {
    const userMessage = `<p class="user-message">${message}</p>`;
    dialogueContainer.innerHTML += userMessage;
    dialogueContainer.scrollTop = dialogueContainer.scrollHeight;
    inputText.rows = 1
  }

  function displayBotMessage(message) {
    const botMessage = `<p class="bot-message"><strong>Bot:</strong> ${message}</p>`;
    dialogueContainer.innerHTML += botMessage;
  }

  function displayLoader() {
    const loader = '<div class="loader-container"><div class="loader"></div></div>';
    dialogueContainer.innerHTML += loader;
    dialogueContainer.scrollTop = dialogueContainer.scrollHeight;
  }

  function removeLoader() {
    const loaders = dialogueContainer.getElementsByClassName('loader');
    if (loaders.length > 0) {
      loaders[loaders.length - 1].remove();
    }
  }

  form.addEventListener('submit', function(event) {
    event.preventDefault();
    const formData = new FormData(form);
    const url = form.getAttribute('action');
    const inputText = formData.get('input_text').trim();
    form.reset();

    if (!inputText) {
      const errorMessage = '<p class="error-message">Please enter a message.</p>';
      dialogueContainer.innerHTML += errorMessage;
      dialogueContainer.scrollTop = dialogueContainer.scrollHeight;
      return;
    }

    displayUserMessage(inputText);
    displayLoader();

    fetch(url, {
      method: 'POST',
      body: formData,
    })
      .then(response => response.text())
      .then(data => {
        removeLoader();
        displayBotMessage(data);
        dialogueContainer.scrollTop = dialogueContainer.scrollHeight;
      })
      .catch(error => console.error(error));
    });

    const inputText = document.querySelector('textarea[name="input_text"]');
    let shiftPressed = false;

    inputText.addEventListener('input', function() {
      const lines = inputText.value.split('\n').length;
      inputText.rows = Math.min(lines, 6);
      if (shiftPressed) {
        inputText.scrollTop = 0;
      }
    });

    inputText.addEventListener('keydown', function(event) {
      if (event.keyCode === 13 && event.shiftKey) {
        shiftPressed = true;
      } else {
        shiftPressed = false;
      }

      if (event.keyCode === 13 && !event.shiftKey) {
        event.preventDefault();
        form.dispatchEvent(new Event('submit'));
      }
    });

</script>

{% endblock js %}
